.flowerCatalog {
  color: orange;
  text-align: right;
  margin-right: 50px;
}
.main {
  display: flex;
  justify-content: space-around;
}
.freshorigins {
  display: inline-block;
}

.links {
  margin-top: 300px;
}

.header {
  color: orange;
  text-align: center;
}

.button {
  font-size: 20px;
  border-radius: 5px;
}
table {
  font-size: 30px;
  text-align: center;
}

.image {
  margin: 10px;
  border: 1px solid black;
}

.menu {
  display: flex;
  word-wrap: break-word;
}
